.makerow-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 18px;
}

.inout-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  width: 100%;
  border-bottom: 2px solid black;
  flex-grow: 1;
}

.time-in-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  border: 2px solid black;
}
.time-out-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.hours-column {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.hours-item {
  margin-bottom: 10px;
  width: 300px;
}

.time-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  margin-right: 50px;
}

.time-logo {
  margin-bottom: 10px;
}

.uil {
  font-size: 80px;
  color: #000;
  transition: color 0.3s ease;
}

.uil:hover {
  color: #0bcc14;
  cursor: pointer;
}

.status-column {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.status {
  margin-bottom: 10px;
}

.status-time {
  text-align: center;
}

.input-field-text {
  width: 100%;
  height: 100px;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.input {
  height: 100%;
  width: 100%;
}

.time-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.time-button i.uil {
  font-size: 70px;
  color: #000;
}

.time-button i.uil:hover {
  color: #0bcc14;
}

.utility-column {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 300px;
  border: 2px solid black;
}

.row {
  height: 89px;
}

#end_date,
#start_date {
  width: 200px;
}

.submit {
  width: 200px;
}

/* START OF CURRENT TIME AND DATE */
.date-time h1 {
  font-weight: 1;
  font-size: large;
}
.date-time span {
  font-weight: bold;
  font-size: larger
}
#taskstext {
  background-color: white !important;
}
/* END OF CURRENT TIME AND DATE */