@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Create Account */
.card-addAcc {
  background-color: #b3c2bb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  text-align: center;
}
.input-box {
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 20px;
  padding-top: 10px;
  width: auto;
  box-sizing: border-box;
  padding-bottom: 10px;
}

.input-box header {
  font-weight: 700;
  text-align: center;
  margin-bottom: 45px;
}
.input-field {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px 0 10px;
  font-size: medium;
}
.input {
  height: 45px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin-bottom: 20px;
  color: #40414a;
}

.input-box .input-field label {
  position: absolute;
  top: 10px;
  left: 10px;
  pointer-events: none;
  transition: 0.5s;
}
.input-field .input:focus ~ label {
  top: -10px;
  font-size: 13px;
}
.input-field .input:valid ~ label {
  top: -10px;
  font-size: 13px;
  color: #5d5076;
}
.input-field .input:focus,
.input-field .input:valid {
  border-bottom: 1px solid #0bcc14;
}
.submitClear {
  border: none;
  outline: none;
  height: 30px;
  background: #40414a;
  border-radius: 5px;
  transition: 0.4s;
  color: #fff;
}
.submitClear:hover {
  background-color: #40414a8e;
}
.submit {
  margin: 25px;
  border: none;
  outline: none;
  height: 45px;
  background: #0bcc154d;
  border-radius: 5px;
  transition: 0.4s;
}
.submit:hover {
  background: #0bcc14;
  color: #fff;
}
.select-custom {
  padding-left: auto;
  padding-right: auto;
  width: auto;
  height: 30px;
  background-color: white;
  color: black;
}


text {
  padding-left: auto;
  padding-right: auto;
  width: auto;
  height: 30px;
}

/*End Create Account*/

/*List Accounts*/
.card-listAcc {
  background-color: #000000;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px; /* 5px rounded corners */
  text-align: center;
  margin-top: 40px;
  color: #eee;
  width: 100%;
}

.getDataAccs {
  background-color: #eee;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  margin-top: 20px;
  padding-top: 5px;
  width: auto;
  box-sizing: border-box;
  padding-bottom: 10px;
}

table {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  position: center;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 720px;
  max-width: 100%;
  width: fit-content;
  box-shadow: 0 0 0px rgba(0, 0, 0, 0.15);
}
table thead tr {
  color: #ffffff;
  text-align: center;
}
table th {
  padding: 22px 25px;
  text-align: center;
  background-color: #55c252; 
  color: #ffffff; 

}
table td {
  padding: 22px 25px;
  text-align: center;
}

.tg-wrap {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow-x: auto;
  overflow-y: scroll;
}
.tg-wrap1 {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%; /* Adjust the width value as per your requirement */
  overflow-x: auto;
  overflow-y: scroll;
  max-height: 450;
  height:auto;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  word-break: normal;
  text-align: center;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
  text-align: center;
}
.tg .tg-0pky {
  border-color: black;
  border-width: 1;
  border-style: solid;
  vertical-align: middle;
  text-align: center;
  width: 600;
  height: 50;
}
.tg .tgtp {
  border-color: transparent;
  border-width: 1px;
  border-style: solid transparent;
  vertical-align: center;
  text-align: center;
  outline: none;
  background-color: transparent;
  width: 10px;
  height: 20px;
}
.tg .tgtp1 {
  border-color: transparent;
  border-width: 0.1px;
  border-style: solid transparent;
  vertical-align: center;
  text-align: center;
  outline: none;
  background-color: transparent;
}
.tg .tgw {
  border-color: #eee;
  border-width: 1;
  border-style: solid;
  vertical-align: center;
  text-align: center;
  background-color: #eee;
  z-index: 99999;
}

.green-bg {
  background-color: #00ff00;
}
.red-bg {
  background-color: #ff0000;
}

.column-name {
  width: 150px; /* Set your desired width */
  word-break: normal;
}

.column-notices {
  width: 250px; /* Set your desired width */
}

/*End List Accounts*/
.filter-date {
  text-align: left;
  margin-top: 15px;
  margin-left: 125px;
  margin-bottom: 5px;
}
.date-time {
  padding-left: auto;
  padding-right: auto;
  text-align: center;
}

.page-Num {
  text-align: center;
  margin-top: 15px;
}
a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

h4 {
  font-weight: lighter;
  margin-top: 10px;
  margin-bottom: 5px;
}
.logo {
  max-width: 72px;
  max-height: 70px;
  padding-top: 10px;
  padding-right: 5px;
}

:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --green: #0bcc14;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}

html {
  overflow-x: hidden;
}

body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}

body {
  background: var(--grey);
  overflow-x: hidden;
}

/* SIDEBAR */
.dropdown {
  margin-left: 12px;
}
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 280px;
  height: 100%;
  background: var(--light);
  z-index: 2000;
  font-family: var(--lato);
  transition: 0.3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
  display: none;
}
#sidebar.hide {
  width: 60px;
}
#sidebar .brand {
  font-size: 22px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: #6ccb68;
  position: sticky;
  top: 0;
  left: 0;
  background: var(--light);
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
  margin-top: 4%;
}
#sidebar .brand .bx {
  min-width: 60px;
  display: flex;
  justify-content: center;
}
#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: 48px 0 0 48px;
  padding: 4px;
}
#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}
#sidebar .side-menu li.active a {
  background: var(--grey);
  position: relative;
}
#sidebar .side-menu li.active::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li.active::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li a {
  width: 100%;
  height: 100%;
  background: var(--light);
  display: flex;
  align-items: center;
  border-radius: 48px;
  font-size: 16px;
  color: var(--dark);
  white-space: nowrap;
  overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
  color: var(--green);
}
#sidebar.hide .side-menu li a {
  width: calc(48px - (4px * 2));
  transition: width 0.3s ease;
}
#sidebar .side-menu li a.logout {
  color: var(--red);
}
#sidebar .side-menu.top li a:hover {
  color: var(--green);
}
#sidebar .side-menu li a .bx {
  min-width: calc(60px - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */

#content nav {
  height: 14%;
  background: var(--light);
  padding: 0 24px;
  display: flex;
  align-items: center;
  display: flex;
  grid-gap: 24px;
  font-family: var(--lato);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
#content nav::before {
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
  color: var(--dark);
}
#content nav .bx.bx-menu {
  cursor: pointer;
  color: var(--dark);
}
#content nav .nav-link {
  font-size: 16px;
  transition: 0.3s ease;
}
#content nav .nav-link:hover {
  color: var(--green);
}
#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 36px;
}
#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: 36px 0 0 36px;
  outline: none;
  width: 100%;
  color: var(--dark);
}
#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--green);
  color: var(--light);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 36px 36px 0;
  cursor: pointer;
}
#content nav .notification {
  font-size: 20px;
  position: relative;
}
#content nav .notification .num {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid var(--light);
  background: var(--red);
  color: var(--light);
  font-weight: 700;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content nav .profile img {
  width: 36px;
  height: 36px;
  object-fit: cover;
  border-radius: 50%;
}
#content nav .switch-mode {
  display: block;
  min-width: 50px;
  height: 25px;
  border-radius: 25px;
  background: var(--grey);
  cursor: pointer;
  position: relative;
}
#content nav .switch-mode::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: calc(25px - 4px);
  background: var(--green);
  border-radius: 50%;
  transition: all 0.3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
  left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */

/* MAIN */
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
#content main .head-title {
  display: left;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}
#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
  color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
  color: var(--dark-grey);
  pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
  color: var(--green);
  pointer-events: unset;
}
#content main .head-title .btn-download {
  height: 36px;
  padding: 0 16px;
  border-radius: 36px;
  background: var(--green);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  #sidebar {
    width: 200px;
  }

  #content {
    width: calc(100% - 60px);
    left: 200px;
  }

  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
  }
  #content nav form.show .form-input button {
    width: 36px;
    height: 100%;
    border-radius: 0 36px 36px 0;
    color: var(--light);
    background: var(--red);
  }

  #content nav form.show ~ .notification,
  #content nav form.show ~ .profile {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }
  #content main .table-data .order table {
    min-width: 420px;
  }
  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}


/* START OF FOREIGN CSS ADDED HERE BY NIEVA */

.dropdown,
.dropdown_mngmt,
.dropdown_csk {
  margin-left: 5%;
}

.logout {
  position: absolute;
  top: 40;
  right: 40;

}
.logout i,
.logout span {
    color: var(--red);
}

.date-time h1 {
  font-weight: 1;
  font-size: large;
}
.date-time span {
  font-weight: bold;

  font-size: larger;
}

/* END OF FOREIGN CSS ADDED HERE BY NIEVA */


/* START OF FOREIGN CSS ADDED HERE BY NIEVA */

.filter{
    float: right;
    margin-top: -4.5%;
}
.filter-btn {
    float: right;
    padding: 2%;
    margin: 2% 0 2% 0;
    background-color: #eafaea;
    border-radius: 6px;
}
.btn-down {
    padding: 1%;
    background-color: #eafaea;
    border-radius: 6px;
}
.btn-down:hover {
    background-color: #d5f5d5;
}
.filter-btn:hover {
    background-color: #d5f5d5;
}
.left h1{
    font-size: 190%!important;
    margin-top: 1%;
}
#dep-col {
    width: 10%;
}
#but-col {
    width: 15%;
}
#date-col {
    width: 30%;
}
.submit-excel {
  padding: 1%;
  background: #0bcc154d;
  border-radius: 6px;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-top: 3%;
}
.submit-excel:hover {
  background: #0bcc14;
  color: #fff;
  cursor: pointer;
}
/* END OF FOREIGN CSS ADDED HERE BY NIEVA */

/* JOSHUA ESGUERRA */
/* SLIGHT ALTERATION JUSPHER PEDROZO */

.search-filter{
  margin: 20px;
}

.sticky-cell{
  position: sticky;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 10;
}

.sticky-cell2{
  position: sticky;
  top: 37;
  left: 0;
}

.sticky-cell3{
  position: sticky;
  top: 60;
  left: 0;
  z-index: 9999;
}

.row-sticky{
  position: sticky;
  top: 0;
  z-index:1;
}

.row-sticky1{
  position: sticky;
  top: 0;
  z-index:1;
  background-color: #eee;
  border-color: #eee;
}

.row-sticky2{
  position: sticky;
  top: 50;
}

/* JOSHUA ESGUERRA */
/* SLIGHT ALTERATION JUSPHER PEDROZO */

/* CSS FOR FILTER BUTTONS JUSPHER PEDROZO */
.ymw-department-filter{
  /* padding: 0 0 0 300; */
  text-align: right;
  font-size: 15;
}

.btn1{
  margin-top: 10px;
  border-radius: 10px;
  padding: 7px 7px;
  font-size: 15px;
  background-color: #419c3e;
  color: #eee;
}